/*general color and fonts*/

body {
	background-image: url("images/background.png");
	background-color: #f8efd4;
	color: #821752;
	font-family: 'Alegreya', serif;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
	}

h1 {
	font-family: 'Anton', sans-serif;
	color: #de4463;
	font-size: 36px;
	letter-spacing: 5px;
	}

h2 {
	font-family: 'La Belle Aurore', cursive;
	color: #de4463;
	font-size: 32px;
	font-weight: bold;
	}

h3 {
	font-family: 'Anton', sans-serif;
	color: #fec45b;
	font-size: 32px;
	font-weight: bold;
	}

a {
	color: #821752;
	text-decoration: none;
	}
a:hover {color: #fec45b;}

/*custom general design class*/

.container {
	width: 750px;
    margin: 80px auto;
	}
@media (max-width: 720px) {
	.container {
		width: 500px;
		}
	}
@media (max-width: 540px) {
	.container {
		width: 300px;
		}
	}

.card-white {
		background: white;
    	padding: 0;
    	padding-block-start: 10px;
    	padding-block-end: 10px;
    	margin: 20px auto;
    	box-shadow: 0px 10px 20px rgba(130,23,82,0.3);
    	border-radius: 5px;
		}

.text-justify {
	text-align: justify;
	padding: 40px;
	padding-top: 10px;
	padding-bottom: 10px
	}

/*custom design ID*/

#img-circle {
	width: 100px;
    border-radius: 50%;
	}

/*custom banners*/

.banner {
	padding: 120px 0px;
	background-size: cover;
	background-position: center;
	margin-bottom: 20px;
}

#music-banner {
	background-image: url("images/musique.png");
}

#travel-banner {
	background-image: url("images/voyage.png");
}

#ecology-banner {
	background-image: url("images/ecologie.png");
	padding-bottom: 94px;
}

/*custom buttons*/

.btn-pink {
	background-color: #821752;
	color: white;
	padding: 10px 10px;
	border-radius: 8px;
	}
.btn-pink:hover {
	background-color: #fec45b;
	color: #821752;
	}


/*custom contact list*/

.list-inline {
	list-style: none;
	padding-left: 0; 
	}
.list-inline li {
	display: inline;
	padding: 10px;
	}
.list-inline i {
	font-size: 40px;
	}